
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);

html, body {
    height:100%
}

body {
    background-color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto Slab', sans-serif;
    color: #000000;  
    margin: 0px;
}

h1 {
    font-family: 'Roboto Slab', sans-serif;
    border-top: 1px solid #606060; 
    border-bottom: 1px solid #606060; 
    font-size:  22px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #909090;
    text-align: center;
}

a:link, a:visited {
  color: #cb4700;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #FF9900;
  font-weight : bold;
  text-decoration : underline;
}
